@model saman.VIewModels.PersonMadrakViewModel

@{
    ViewBag.Title = "مدیریت مدارک تحصیلی";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using (Ajax.BeginForm("Create", "Madraks", new AjaxOptions { UpdateTargetId = "madrakList", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal box box-primary">

                <div class="box-heade">
                    <h4 class="box-title">افزودن مدرک</h4>
                </div>
                <hr />
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Madrak.MadrakText, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PersonMadrak.MadrakId, new SelectList(Model.Madraks, "Id", "MadrakText"), new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Madrak.MadrakText, "", new { @class = "text-danger" })
                        </div>

                        @Html.LabelFor(model => model.PersonMadrak.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PersonMadrak.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PersonMadrak.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>                

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="افزودن" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<div id="madrakList">
  @Html.Partial("_MadrakList", Model.PersonMadraks)
</div>

<div>
    @Html.ActionLink("بازگشت به جستجوی بازنشسته", "PersonList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}