@model IEnumerable<saman.Models.DomainModels.Person>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityNo)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.CodeMelli)
        </th>
        
 
    
        
        
        <th>انتخاب</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityNo)
        </td>
        <td>
            @Html.DisplayFor(odelItem => item.CodeMelli)
        </td>
   
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodeMelli }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodeMelli }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodeMelli })
        </td>
    </tr>
}

</table>
