@model saman.VIewModels.BankViewModel

@{
    ViewBag.Title = "مدیریت بانک ها";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal box box-primary">
            <div class="box-heade">
                <h4 class="box-title">افزودن بانک</h4>
            </div>
           @using (Ajax.BeginForm("AddBank", "Admin", new AjaxOptions { UpdateTargetId = "Banklist", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))

           {
                @Html.AntiForgeryToken()
                  <hr />
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Bank.Name, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Bank.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bank.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <input type="submit" value="افزودن" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
           }
        </div>
    </div>
</div>
<div id="Banklist">
    @Html.Partial("_Banks", Model.Banks)
</div>
<div>
  
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

