@model saman.VIewModels.PrescriptionViewModel

@{
    ViewBag.Title = "ثبت خسارت درمان";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section styles{
    @Styles.Render("~/Styles/calendar")
}


@using (Ajax.BeginForm("Create", "Prescriptions", new AjaxOptions { UpdateTargetId = "Presclist", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{

    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div class="form-horizontal box box-primary">
                <div class="box-body">
                    <hr />
                    <div class="box-heade">
                        <h4 class="box-title">مشخصات بیمه شده</h4>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.Person.PersonalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Person.PersonalCode, new { htmlAttributes = new { @class = "form-control", @onkeyup = "searchPerson()" } })
                            @Html.ValidationMessageFor(model => model.Person.PersonalCode, "", new { @class = "text-danger" })
                        </div>

                        @Html.LabelFor(model => model.Person.CodeMelli, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Person.CodeMelli, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Person.CodeMelli, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Person.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Person.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Person.Name, "", new { @class = "text-danger" })
                        </div>

                        @Html.LabelFor(model => model.Person.Family, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Person.Family, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Person.Family, "", new { @class = "text-danger" })
                        </div>


                    </div>
                </div>
                <div class="form-horizontal box box-primary">
                    <div class="box-body">
                        <hr />
                        <div class="box-heade">
                            <h4 class="box-title">اطلاعات نسخه</h4>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Prescription.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group col-md-4 col-lg-4">

                                @Html.TextBoxFor(model => model.Prescription.Date, htmlAttributes: new { @class = "form-control", data_englishnumber = "true", data_mddatetimepicker = "true", data_trigger = "click", data_targetselector = "#Prescription_Date", data_groupid = "group1", data_enabletimepicker = "false", data_placement = "right", data_disablebeforetoday = "false" })
                                @Html.ValidationMessageFor(model => model.Prescription.Date, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Prescription.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Prescription.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Prescription.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Prescription.Payable, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Prescription.Payable, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Prescription.Payable, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Prescription.SentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Prescription.SentDate, htmlAttributes: new { @class = "form-control", data_englishnumber = "true", data_mddatetimepicker = "true", data_trigger = "click", data_targetselector = "#Prescription_SentDate", data_groupid = "group1", data_enabletimepicker = "false", data_placement = "right", data_disablebeforetoday = "false" })
                                @Html.ValidationMessageFor(model => model.Prescription.SentDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Prescription.Period, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Prescription.Period, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Prescription.Period, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Treatment.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*    @Html.DropDownListFor(model =>model.Prescription.TreatmentType,  new SelectList(Model.Treatments, "Id", "Value"), new { htmlAttributes =  new { @class = "form-control" } })*@
                                @Html.DropDownListFor(model => model.Prescription.TreatmentTypeId, new SelectList(Model.Treatments, "Id", "Value"), new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Prescription.TreatmentTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="ثبت" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
}
<div class="row" id="Presclist">
    <div class="col-lg-12">
        @if (Model.Prescriptions != null)
        {
            @Html.Partial("_Prescriptions", Model.Prescriptions)
        }
    </div>

</div>

@section scripts {
    @Scripts.Render("~/Scripts/calendar")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/getPerson-Prescription.js")" type="text/javascript"></script>
}


